## generic files to ignore
*~
*.lock
*.~lock.*
*.DS_Store
*.swp
*.out

## Scribus specific
*.sla.autosave
fontconfig
*.pdf

## Apple meta data
.AppleDouble

## Font files generated on OSX ?
*.afm
*.pfb

## For java
*.class

## For python
*.pyc

## C/C++/Fortran etc..
*.o
*.exe
